name: CI

on:
  push:
    paths-ignore:
      - '.*/**'
      - LICENSE
      - '**/*.md'
  pull_request:
    paths-ignore:
      - '.*/**'
      - LICENSE
      - '**/*.md'
  workflow_dispatch:

jobs:
  ci:
    runs-on: ubuntu-22.04
    timeout-minutes: 5
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-dotnet@v4
        with:
          dotnet-version: 8.0.x
      - name: Build
        run: dotnet build
      - name: Test
        run: dotnet test --nologo --no-build --verbosity normal
      - name: Report
        if: success() || failure()
        uses: dorny/test-reporter@v1
        with:
          name: Test Results
          path: FryProxy.Tests/TestResults/*.trx
          reporter: dotnet-trx